



$cellSize: 50px;

body {
  font-family: sans-serif;
}

.board-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  div {
    display: inline-block;
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.board {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block; 
  background-color: #eee;
    .board-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: $cellSize;
      &:first-child .board-cell {
        border-right: none;
        background-color: #fff;  
      }
      .board-cell {
        font-size: $cellSize*0.6;
        line-height: $cellSize;
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        width: $cellSize;
        &:first-child {
          border-bottom: none;
          background-color: #fff;
        }
        &.board-cell-ship {
          background-color: rgba(blue,0.2);
        }
        .overlay {
          position: absolute;
          display: none;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: right;
          font-size: 0.3*$cellSize;
          line-height: 1em;
          z-index: 40;
          svg {
            height: 0.6 * $cellSize;
            width: 0.6 * $cellSize;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            fill: red
          }
          &.hit {
          display: block;
        }
      }
    }  
    .overlay-mouse {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0);
      z-index: 50;
      &:hover {
          background-color: rgba(0,0,0,0.2);
      }
    }
  }
  .overlay-ship {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: blue;
    border-radius: 5px;
  }
}
