
#game-list{
  span {
    padding: 4px 10px;
    display: inline-block;
    background-color: #f0fff0;
    margin: 5px;
  
  }
  a span {
    background-color: #61e061;
  }
  a span:hover {
    outline: 2px solid grey;
    cursor: pointer;
  }
  
  ol a {
    text-decoration: none;
    color: #222
  }

  #button-create-game{
    display: none;
    &.active{
      display: block;
    }
  }
}